build/
dist/
westcott.egg-info/
notebook/.ipynb_checkpoints/
notebook/*.png
notebook/*.csv
notebook/*.pdf
*~
__pycache__/
westcott/__pycache__/
westcott/*.~
tests/__pycache__/
tests/*.~
.tox/
files_installed.txt
.PACT